/* This removes the bullets from the unordered list */

ol {

  list-style-type: none;
}

/* This removes the numbers from the ordered list */
ul {

  list-style-type: none;
} 

/* Styling for the logo */

img {

  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Centered all the elements */

body {
  text-align: center;
  background-color: OldLace;
}



